accelerate==0.27.2
diffusers==0.31.0
numpy==1.26.4
tokenizers==0.15.2
torch==2.2.2
torchvision==0.17.2
transformers==4.37.2
xformers==0.0.25.post1
h5py
opencv-python
matplotlib
scipy
setuptools
omegaconf
tabulate
pandas
wandb
datasets
peft<0.14
huggingface_hub==0.26.5
einops==0.8.1
Pillow==11.0.0
opencv-python==4.10.0.84
torch_cluster==1.6.3
safetensors==0.4.5
matplotlib==3.9.3
mlflow-skinny==2.16.2
azureml-mlflow==1.57.0.post1
azure-ai-ml==1.20.0
ultralytics==8.3.107

-f https://pytorch-geometric.com/whl/torch-2.2.2+cu121.html
-f https://download.pytorch.org/whl/cu121/torch_stable.html

